:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --main-navigation-item-color: #212121;
  --accent-color: #2196f3;
  --current-page-marker-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -***-Index page-***- */

/* ---Header--- */
/* Logo */
.page-header-logo,
.page-footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.page-header-logo span {
  color: #000000;
}

/* Header Navigation */
.page-header-navigation-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-navigation-item-color);
}

.page-header-navigation-item-link:hover,
.page-header-navigation-item-link:focus {
  color: var(--accent-color);
}

/* Header Contacts */
.page-header-contacts-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;

  color: #757575;
}

.page-header-contacts-item-link:hover,
.page-header-contacts-item-link:focus {
  color: var(--accent-color);
}

.page-marker {
  color: var(--current-page-marker-color);
}

/* ---Hero Section--- */
.page-hero {
  background-color: #2f303a;
}

.page-hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.page-hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: #ffffff;
  background-color: #2196f3;
}

.page-hero-button:hover,
.page-hero-button:focus {
  background-color: #188ce8;
}

/* ---Benefits Section--- */
.benefits-section-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color);
}

.benefits-section-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ---Our work Section--- */
.our-work-sectoin-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

/* ---Our team Section--- */
.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;

  color: var(--main-title-color);
}

.team-section-person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-section-person-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* ---Footer--- */
.page-footer {
  background-color: #2f303a;
}

.page-footer-logo span {
  color: #ffffff;
}

.page-footer-address-item-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.page-footer-address-item-address:hover,
.page-footer-address-item-address:focus {
  color: var(--accent-color);
}

.page-footer-address-item-mail,
.page-footer-address-item-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.page-footer-address-item-mail:hover,
.page-footer-address-item-mail:focus {
  color: var(--accent-color);
}

.page-footer-address-item-tel:hover,
.page-footer-address-item-tel:focus {
  color: var(--accent-color);
}

/* -***-Portfolio page-***- */

/* ---Filters Section--- */
.filters-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;

  color: #212121;
}

.active-button {
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #2196f3;
}

.filters-button:hover,
.filters-button:focus {
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
}

/* ---Projects Section--- */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-title-color);
}

.project-category {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
